.radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}
.full-height {
    &:before {
        content: none;
    }
}

#sec1 {
    background-color: rgb(244, 246, 246);
}
#sec2 {
    .data_info {
        display: inline-block;
        max-width: 280px;
        height: auto;
        color: #ffffff;
        float: left;
        margin-right: 25px;
        margin-top: 70px;
        span {
            padding: 30px 20px;
            font-size: 13px;
            text-transform: uppercase;
            display: block;
            position: relative;
            text-align: left;
            &:before {
                content: "";
                position: absolute;
                background-color: #ffffff;
                width: 3px;
                height: 25px;
                left: 0;
                top: 50%;
                margin-top: -12.5px;
                z-index: 99999;
            }
        }
        ul {
            padding: 30px 15px 15px;
            text-align: left;
            li {font-size: 11px;}
        }
    }
    .first_info {
        -webkit-box-shadow: 7px 7px 0px 0px rgba(225,79,86,.7);
        -moz-box-shadow: 7px 7px 0px 0px rgba(225,79,86,.7);
        -o-box-shadow: 7px 7px 0px 0px rgba(225,79,86,.7);
        box-shadow: 7px 7px 0px 0px rgba(225,79,86,.7);
        span {background-color: rgb(222,55,65);}
        ul {background-color: rgb(225,79,86);}
    }
    .second_info {
        -webkit-box-shadow: 7px 7px 0px 0px rgba(104,126,143,.7);
        -moz-box-shadow: 7px 7px 0px 0px rgba(104,126,143,.7);
        -o-box-shadow: 7px 7px 0px 0px rgba(104,126,143,.7);
        box-shadow: 7px 7px 0px 0px rgba(104,126,143,.7);
        span {background-color: rgb(41,62,80);}
        ul {background-color: rgb(104,126,143);}
    }
    .third_info {
        -webkit-box-shadow: 7px 7px 0px 0px rgba(139,173,180,.7);
        -moz-box-shadow: 7px 7px 0px 0px rgba(139,173,180,.7);
        -o-box-shadow: 7px 7px 0px 0px rgba(139,173,180,.7);
        box-shadow: 7px 7px 0px 0px rgba(139,173,180,.7);
        span {background-color: rgb(78,132,143);}
        ul {background-color: rgb(139,173,180);}
    }
}
#sec3 {
    background-color: rgb(78, 134, 143);
    h2, p,a,span { color: #ffffff !important; }
    p {
        text-align: center;
        &:before {content: none;}
    }
    ul {
        li {
            width: 45%;
            display: inline-block;
            float: left;
            padding: 0px 10%;
            span {
                float: left;
                font-size: 13px;
                text-transform: uppercase;
            }
            p {
                clear: both;
                text-align: left;
                &:before {
                    content: none;
                }
            }
        }
    }
    .section-title {
        padding-bottom: 40px;
        position: relative;
        line-height: 35px;
        padding-bottom: 20px !important;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100px;
            height: 5px;
            background-color: #ffffff;
        }
    }
    .btn {
        border-color: #ffffff;
        &:hover { color:#4e868f !important; }
        &:before { background-color: #ffffff; }
    }
}
#sec4 {
    text-align: center;
    .ready {
        font-size: 13px;
        text-transform: uppercase;
        font-family: "Geomanist Bold";
        margin-bottom: 40px;
        & + a {
            font-size: 13px;
            font-family: "Geomanist Regular";
            text-transform: uppercase;
            display: inline-block;
            padding-bottom: 20px;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 75px;
                height: 5px;
                background-color: #5e969f;
            }
        }
    }
    
}
section {
    .section-title {
        font-size: 22px;
        margin-bottom: 0px;
        padding-bottom: 0px !important;
        font-family: "Geomanist Regular";
        strong {
            font-family: "Geomanist Bold";
            font-weight: normal;
        }
    }
    p {
        font-size: 13px;
        font-family: "Geomanist Regular";
        padding-bottom: 50px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100px;
            height: 5px;
            background-color: #5e969f;
        }
    }
    .btn {
        .radius(5px);
        float: right;
        font-size: 13px;
        font-family: "Geomanist Regular"; 
        text-transform: uppercase;
        padding: 20px 50px;
        border-color: #82868b;
        margin: 15px 0;
    }
}

.content-footer {
    padding: 50px 20px 0 80px;
    .container {
        padding-left: 0px;
    }
    .text-link {
        margin-bottom: 7px;
        padding: 0;
        a {
            color: #ffffff !important;
            text-transform: uppercase;
            font-size: 12px;
            font-family: "Geomanist Regular";
            font-weight: normal;
            position: relative;
            padding-left: 45px;
            &:hover {
                color: rgba(255, 255, 255, 0.61) !important;
            }
        }
    }
    ul {
        .text-link a {
            font-size: 10px !important;
            &:before {
                content: none;
            }
        }
    }
    .footer-wrap {
        &:before {
            content: none;
        }
        .copyright,
        .to-top {
            text-transform: inherit;
            font-family: "Geomanist Regular";
        }
        .to-top {
            width: auto;
        }
    }
    .footer-social {
        ul {
            text-align: right;
            li {
                display: inline-block;
                a {
                    width: 40px;
                    height: 40px;
                    display: block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-origin: content-box;
                }
                .fb {
                    background-image: url(../images/social/facebook.png);
                    padding: 4px;
                }
                .ist {
                    background-image: url(../images/social/instagram.png);
                }
                .li {
                    background-image: url(../images/social/linkedin.png);
                }
                .tr {
                    background-image: url(../images/social/twiter.png);
                }
            }
        }
    }
}